.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.paper {
  padding: 0 1em;
}
.box {
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 400px;
}
.textCenter {
  text-align: center;
}
.fs18 {
  font-size: 18px;
}
.formcontainer {
  display: flex;
  flex-wrap: wrap;
}
.formarea {
  padding-top: 20px;
  padding-bottom: 20px;
}
.MuiInputLabel-formControl {
  left: 10px;
}
